---
layout: default
gallery:
 - column-size: col-6
   aspect-ratio: square
   background_image: /images/crisco-small.jpg
 - column-size: col-6
   aspect-ratio: square
   background_image: /images/crisco-small.jpg
 - column-size: col-12
   aspect-ratio: landscape
   background_image: /images/crisco-small.jpg
 - column-size: col-4
   aspect-ratio: portrait-tall
   background_image: /images/crisco-small.jpg
 - column-size: col-4
   aspect-ratio: portrait-tall
   background_image: /images/crisco-small.jpg
 - column-size: col-4
   aspect-ratio: portrait-tall
   background_image: /images/crisco-small.jpg
 - column-size: col-12
   aspect-ratio: landscape
   background_image: /images/crisco-small.jpg
---

<!-- Header Banner -->
<header class="padded grid center tall-70 md-tall-50">
    
    {% include header-nav.html %}

    <div class="col-12">
        <h3 data-aos="fade-in" data-aos-duration="3000"> <span class="featured-text"> explore </span> our world </h3>
        <h1 data-aos="fade-up" data-aos-duration="1000"> experience the best dream ever </h1>
    </div>

</header>

<!-- Responsive Image Gallery -->
<section class="padded">
    <div class="gallery grid">

        {% for item in page.gallery %}
        <div class="{{item.column-size}}">
            <div class="bg-image {{item.aspect-ratio}}"
                 style="background-image: url('{{item.background_image}}');">
            </div>
        </div>
        {% endfor %}

    <!-- <div class="gallery grid">
        <div class="col-6">
            <div class="bg-image square bg-img-1"></div>
        </div>
        <div class="col-6">
            <div class="bg-image square bg-img-2 bg-pos-b"></div>
        </div>
        <div class="col-4_xs-12">
            <div class="bg-image portrait-tall bg-img-3"></div>
        </div>
        <div class="col-4_xs-12">
            <div class="bg-image portrait-tall bg-img-4"></div>
        </div>
        <div class="col-4_xs-12">
            <div class="bg-image portrait-tall "></div>
        </div>
        <div class="col-12">
            <div class="bg-image landscape bg-img-5"></div>
        </div>
    </div> -->
</section>