---
layout: default
featured:
   -
      icon: fas fa-cloud
      description: >-
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab eveniet
         vel similique optio, nostrum dignissimos culpa harum. Esse sit eum
         voluptatum consectetur veniam non asperiores cupiditate expedita
         aliquid. Sed, perferendis.
      featured_image: /images/crisco-small.jpg
   -
      icon: far fa-acorn
      description: >-
         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus
         obcaecati nemo esse tempore aspernatur quasi, minima minus dolorum qui
         cumque laborum sapiente fugiat quam alias amet quidem enim magnam
         adipisci!
      featured_image: /images/crisco-small.jpg
   -
      icon: fas fa-cloud
      description: >-
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab adipisci,
         in magni maiores vel, aspernatur soluta pariatur provident sapiente eos
         inventore expedita ea quidem illo commodi facere sequi non tenetur!
      featured_image: /images/crisco-small.jpg
   -
      icon: fas fa-cloud
      description: >-
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore minus,
         omnis voluptatibus magni, voluptatem ullam nisi aliquid earum nam sint
         nostrum doloremque natus quaerat repudiandae voluptate facere fuga
         deserunt temporibus?
      featured_image: /images/crisco-small.jpg
---

<!-- Header Banner -->
<header class="padded grid center tall-100 md-tall-80">
    
    {% include header-nav.html %}

    <div class="col-12">
        <h3> <span class="featured-text"> sleep </span> like a baby </h3>
        <h1> the ultimate mattress solution </h1>
    </div>
</header>

<!-- Gallery / About Section -->
<section class="grid">
    <div class="padded col-6_xs-12-middle">
        <h2> build to last a <span class="featured-text"> lifetime </span> </h2>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed sapiente officiis similique rerum repellendus rem vero cum doloribus exercitationem magni maxime praesentium accusantium obcaecati placeat illum, tempore veritatis veniam! Quo. </p> 
    </div>
    <div class="bg-image col-6_xs-12 tall-30 hide-xs"> 
        <!-- background image bed -->
    </div>
    <div class="bg-image col-6_xs-12 tall-30"> 
        <!-- background image pug sleeping -->
    </div>
    <div class="padded col-6_xs-12-middle"> 
        <h2> so <span class="featured-text"> soft </span> you'll melt </h2>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed sapiente officiis similique rerum repellendus rem vero cum doloribus exercitationem magni maxime praesentium accusantium obcaecati placeat illum, tempore veritatis veniam! Quo. </p> 
    </div>
</section>

<!-- Featured Icon grid -->
<section class="padded grid-center bg-dark">
    <div class="padded-sm col-12 center">
        <h2> <span class="featured-text"> features </span> you will love </h2>
    </div>

    {% for item in page.featured %}
    <div class="padded-sm col-3_sm-6 xxs-stack">
        <i class="{{item.icon}}"></i>
        <p> {{item.description}} </p> 
    </div>
    {% endfor %}

</section>

<!-- Image banner -->
<section class="padded bg-image tall-70 center grid">
    <div class="col-12-middle">
        <h3 class="big-text"> 
            <span class="small-text"> never underestimate the power of </span>
            <br> a good night <span class="featured-text"> sleep </span> 
        </h3>
    </div>
</section>

<!-- Testimonial section -->
<section class="padded-lg grid">
    <div class="col-1 right">
        <span class="quote-icon">“</span>
    </div>
    <div class="col-10 center">
        <p class="font-weight-bolder medium-text"> I've never experienced a sleep like this. OMG, I really love this mattress, I want to buy one for every member of my family! </p>
        <p class="subtitle"> - A very happy customer </p>
    </div>
    <div class="col-1">
        <span class="quote-icon">”</span>
    </div>
</section>
