---
layout: default
cards:
 - heading: little heading 1
   description: Nulla cumque corporis, natus ex quas sequi tenetur laudantium doloremque quos explicabo, accusamus dolore neque aut, odit minima adipisci odio commodi distinctio.
   featured_image: /images/crisco-small.jpg
 - heading: little heading 2
   description: Dignissimos voluptatibus mollitia nulla expedita laborum repudiandae, perferendis a accusamus dolore! Repudiandae temporibus natus placeat explicabo excepturi quia praesentium veniam quidem ea!
   featured_image: /images/crisco-small.jpg
 - heading: little heading 3
   description: Quia, perspiciatis, suscipit perferendis harum culpa dolore quidem quis aliquam doloremque possimus voluptate ipsum dicta praesentium eligendi! Aut commodi deserunt sapiente quod?
   featured_image: /images/crisco-small.jpg
---

<!-- Header Banner -->
<header class="padded grid center tall-70 md-tall-50">

    {% include header-nav.html %}

    <div class="col-12">
        <h3> <span class="featured-text"> addictively </span> soft </h3>
        <h1> you won't want to get out of bed </h1>
    </div>
</header>

<!-- Featured Text/Little Heading grid -->
<section class="padded grid bg-featured">
    <div class="padded-sm col-12 center">
        <h2> <span class="white-text"> features </span> you will love </h2>
    </div>
    <div class="padded-sm col-3 editable">
        <h3> little heading </h3>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed sapiente officiis similique rerum repellendus rem vero cum doloribus exercitationem magni maxime praesentium accusantium obcaecati placeat illum, tempore veritatis veniam! Quo. </p> 
    </div>
    <div class="padded-sm col-3 editable">
        <h3> little heading </h3>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed sapiente officiis similique rerum repellendus rem vero cum doloribus exercitationem magni maxime praesentium accusantium obcaecati placeat illum, tempore veritatis veniam! Quo. </p> 
    </div>
    <div class="padded-sm col-3 editable">
        <h3> little heading </h3>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed sapiente officiis similique rerum repellendus rem vero cum doloribus exercitationem magni maxime praesentium accusantium obcaecati placeat illum, tempore veritatis veniam! Quo. </p> 
    </div>
    <div class="padded-sm col-3 editable">
        <h3> little heading </h3>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed sapiente officiis similique rerum repellendus rem vero cum doloribus exercitationem magni maxime praesentium accusantium obcaecati placeat illum, tempore veritatis veniam! Quo. </p> 
    </div>
</section>

<!-- Cards -->
<section class="grid padded">
    
    {% for item in page.cards %}
    <div class="col-4_sm-12 padded-sm">
        <div class="card">
            <div class="bg-image portrait sytle="background-image: url('{{item.featured_image}}')"> </div>
            <div class="padded-sm">
                <h3> {{item.heading}} </h3>
                <p> {{item.description}} </p>  
            </div>
        </div>
    </div>
    {% endfor %}
    
</section>

<!-- Image banner -->
<section class="padded bg-dark tall-70 center grid">
    <div class="col-12-middle">
        <h3 class="big-text"> 
            <span class="small-text"> spend over $150 and activate </span>
            <br> <span class="featured-text"> free </span> express shipping
        </h3>
    </div>
</section>

<!-- Gallery / About Section -->
<section class="grid">
    <div class="padded col-6-middle">
        <h2> build to last a <span class="featured-text"> lifetime </span> </h2>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed sapiente officiis similique rerum repellendus rem vero cum doloribus exercitationem magni maxime praesentium accusantium obcaecati placeat illum, tempore veritatis veniam! Quo. </p> 
    </div>
    <div class="bg-image col-6 tall-30"> 
        <!-- background image bed -->
    </div>
    <div class="bg-image col-6 tall-30"> 
        <!-- background image pug sleeping -->
    </div>
    <div class="padded col-6-middle"> 
        <h2> so <span class="featured-text"> soft </span> you'll melt </h2>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed sapiente officiis similique rerum repellendus rem vero cum doloribus exercitationem magni maxime praesentium accusantium obcaecati placeat illum, tempore veritatis veniam! Quo. </p> 
    </div>
    <div class="padded col-6-middle">
        <h2> build to last a <span class="featured-text"> lifetime </span> </h2>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed sapiente officiis similique rerum repellendus rem vero cum doloribus exercitationem magni maxime praesentium accusantium obcaecati placeat illum, tempore veritatis veniam! Quo. </p> 
    </div>
    <div class="bg-image col-6 tall-30"> 
        <!-- background image bed -->
    </div>
</section>