<!DOCTYPE html>
<html>

<!-- The head of the html for external resources and metadata -->
<head>

    {% include head.html %}

    <!-- Chatra {literal} -->
    <!-- <script>
        (function(d, w, c) {
            w.ChatraID = 'WQTJF9Jg6JWELTK4z';
            var s = d.createElement('script');
            w[c] = w[c] || function() {
                (w[c].q = w[c].q || []).push(arguments);
            };
            s.async = true;
            s.src = 'https://call.chatra.io/chatra.js';
            if (d.head) d.head.appendChild(s);
        })(document, window, 'Chatra');
    </script> -->

</head>

<!-- The body of the html for all of the page content -->
<body>

    {{ content }}

<!-- Footer -->
    {% include footer.html %}

<!-- JavaScript -->
    {% include body-script.html %}

</body>

</html>